<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Tim Ung</title>
</head>
<body class="container">
  <nav class="navbar navbar-expand-sm border-bottom">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="/images/braces.svg" alt="braces" style="height: 30px;">
        <span class="fs-4"> Tim Ung</span>
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-pills">
          <li class="nav-item">
            <a class="nav-link active fs-6 text-bg-dark" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6 text-dark" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6 text-dark" href="#">More</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6 text-dark" href="#">Contact</a>
          </li>
        </ul>
      </div>
  </nav>