<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Tim Ung</title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/images/braces.svg" alt="braces" height="30">
            <span class="fs-4"> Tim Ung</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link text-bg-dark active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark">Projects</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark">More</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark">Contact</a></li>
          </ul>
        </header>
    </div>