<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/index.css">
<!-- Hero -->
<div class="container mt-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <img class="rounded mb-3" src="/images/portrait.jpg" alt="portrait" height="200">
      <h1 class="text-body-emphasis">I'm Tim Ung.</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Aspiring Tech Engineer
      </p>
    </div>
  </div>

  <!-- Features -->
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Key Skills</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="/images/file-earmark-code.svg" alt="file-earmark-code" height="35">
        </div>
        <div class="d-flex flex-column align-items-start h-100">
          <h3 class="fs-2 text-body-emphasis">Design & Development</h3>
          <p>Skilled in designing and developing interactive web applications using HTML, CSS, JavaScript, and Bootstrap.</p>
          <a href="#" class="btn btn-primary mt-auto">
            Explore More
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="/images/cloud.svg" alt="cloud" height="35">
        </div>
        <div class="d-flex flex-column align-items-start h-100">
          <h3 class="fs-2 text-body-emphasis">Cloud Computing</h3>
          <p>Demonstrated capability in leveraging cloud-based tools such as Google Apps Script for project automation and market analysis.</p>
          <a href="#" class="btn btn-primary mt-auto">
            Explore More
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="/images/database.svg" alt="database" height="35">
        </div>
        <div class="d-flex flex-column align-items-start h-100">
          <h3 class="fs-2 text-body-emphasis">Analytics & Databases</h3>
          <p>Proficient in data handling and analysis, with practical experience using Pandas and MySQL.</p>
          <a href="#" class="btn btn-primary mt-auto">
            Explore More
          </a>
        </div>
      </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>